@model GovindEventReminderService.Areas.Admin.Models.Admin
    @{
        ViewBag.Title = "ChangePassword";
        Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
    }
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>

    <script type="text/javascript">
       
            function CheckPassword() {
                var txtOldpwd = $("#OldPassword").val();

                var Uname = '@Session["AdminUser"].ToString()';


                //var lblStatusOldpwd = $("#lblsatusoldpwd");
                //var buttonChangepwd = $("#btnChangePassword");

                if (txtOldpwd != "") {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("CheckOldPassword")',
                        data: "{oldpwd:'" + txtOldpwd + "',Username:'" + Uname + "'}",
                        dataType: "json",
                        success: function (response) {
                            var value = response;
                            if (parseInt(value) == 1) {
                                //lblstatusOldpass.html(
                                //    "<img src=~/Images/Correct.PNG'style='position:absolute;' />").hide().fadeIn(1000);
                                //btnChanhePass.prop("disabled", true);
                                //txtOldPassword.focus();
                                $("#PwdStatus").css('display', 'block');
                                $("#AdminPwdfail").css('display', 'none');
                                $("#NewPassword").prop('disabled', false);
                                $("#ConfirmPassword").prop('disabled', false);
                                $("#btnChangePassword").prop('disabled', false);
                            }
                            else {
                                //lblsatusoldpwd.html("<img src='~/Images/Incorrect.PNG' style='position:absolute;/>' title='please enter correct password...'").hide().fadeIn(1000);
                                //btnchangedpwd.prop("disabled", true);
                                //txtOldPassword.focus();

                                $("#PwdStatus").css('display', 'none');
                                $("#AdminPwdfail").css('display', 'Block');
                            }
                        },

                        error: function (error) {
                            alert("Error:" + error.status);
                        }

                    });
                }

            }
           
       


       
    </script>

    <div class="col-md-12" style="margin-top:20px;">
        <div class="col-md-6" style="margin:0px 263px auto; width:511px;  border:2px solid #808080; box-shadow:2px 5px #808080;border-radius:5px;">
            <div class="row" style="background-color:#385081; color:white;border-radius:2px;text-align:center;">
                <p align="center">Admin Change Password</p>
            </div>


           


            @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
            {

                <div class="col-md-9" style="padding-top:10px;">
                    <div class="form-group">
                       
                        <label class="control-label">Enter OldPassword</label>
                        <div class="input-group">
                        <input class="form-control" name="OldPassword" id="OldPassword" type="password" placeholder="Old Password" style="width:354px" onkeyup="CheckPassword();" />
                            <span class="input-group"id="PwdStatus" style="display:none;">
                                <img src='~/Images/Correct.PNG'style='position:absolute;height:33px;width:24px;' />
                            </span>
                            <span class="input-group" id="AdminPwdfail" style="display:none;">
                                <img src='~/Images/Incorrect.PNG' style='position:absolute;height:33px;width:24px;' />
                            </span>
                       

                    </div>
                        <span id="erroroldPassword">@Html.ValidationMessageFor(m=>Model.OldPassword)
                        </span>
                        </div>
                    <div class="form-group">
                        <label class="control-label">Enter New Password</label>
                        @Html.PasswordFor(m => Model.NewPassword, new
                   {
                       @class= "form-control",@disabled="disbaled",
                   })
                        <span id="errNewPassword">@Html.ValidationMessageFor(m=>Model.NewPassword,"",new { 
                                                 @class = "text-danger",
                                                
                                             })</span>
                        </diV>
                    <div class="form-group">
                        <label class="control-label">Enter Confirm Password</label>
                        @Html.PasswordFor(m => Model.ConfirmPassword, new
                   {
                       @class = "form-control",
                       @disabled = "disbaled"
                   })
                        <span id="errConfirmPassword">
                            @Html.ValidationMessageFor(m => Model.ConfirmPassword, "", new
                                             {
                                                 @class = "text-danger",

                                             })
                    </span>
                </div>
                    
                      <div class="form-group">
<input type="submit" value="Submit" id="btnChangePassword"  onclick="ChangePassword();" disabled="disabled" class="btn btn-primary"/>
                    </div>
                </div>
            }

        </div>
    </div>
