<style type="text/css">
.link{
    color:green;
    font-weight:bold;
    text-decoration:none;
    font-family:Tahoma;
    font-size:12px;
}
.link:hover{
    color:black;
}
</style>
<table width="100%" border="0">
    <tr valign="top">
        <td>
            @*images*@
        </td>
        <td>
            @*images*@
        </td>
        <td align="center">
          
            <table width="100%" border="0">
                <tr>
                    <td>
                        @*images*@
                    </td>
                    <td align="center">
                    <b>
                        <a class="link" href="#">Home</a>|
                        <a class="link" href="#">Member's Corner</a>|
                        <a class="link" href="#">ContactUs</a>|
                        <a class="link" href="#">FAQ's</a>|
                        <a class="link" href="#">Greeting Cards</a>|
                        <a class="link" href="#">Free Ecards</a>
                        <br />
                        <a class="link" href="#">AboutUs</a>|
                        <a class="link" href="#">RSS Feeds</a>|
                        <a class="link" href="#">How It works</a>|
                        <a class="link" href="#">Privacy Policy</a>|
                        <a class="link" href="#">Links</a>|
                        <a class="link" href="#">Finder</a>|
                        <a class="link" href="#">Log-in</a>
                        <br />
                        </b>
                      <p style="font-family:Tahoma;font-size:12px">Copyright &copy;2017-2018
                        <a class="link" href="#">EventReminders.com</a>
                        Greeting Cards Powerded by<a class="link" href="https://www.greetingcarduniverse.com">GreetingCardUniverse.com</a>
                        </p>
                   </td>
                    
                </tr>

            </table>

        </td>
    </tr>

</table>

<td>
@*images*@
</td>
<td>
    @*images*@
    </td>
@*<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>*@
  @*<table border="1" style="width:800px;font-family:Arial">
    <tr>
        <td colspan="2" style="text-align:center">
            <h3>Website Footer</h3>

        </td>
    </tr>

      </table>*@
    @*<div align="center" style="width:100%;font-family:Arial;border:1px solid">
        @Html.ActionLink("Home","Home")|@Html.ActionLink("Member's Corner", "Home")|

        @Html.ActionLink("ContactUs", "Home")|@Html.ActionLink("Faq's", "Home")|
        @Html.ActionLink("Greeting Cards", "Home")|
        @Html.ActionLink("Free Ecards", "Home")|
        @Html.ActionLink("RSS Feeds", "Home")|
        @Html.ActionLink("How it Works", "Home")|
        @Html.ActionLink("Login", "Home")





    </div>
      </body>*@

      @*</html>*@
  

